<template>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Стоимость</th>
                    <th>Удалить</th>
                </tr>
                </thead>
                <tbody id="table">
                    <tr v-for="item, index in cart" :id="item.id">
                        <td>{{item.title}}</td>
                        <td>{{item.cost}}</td>
                        <td>
                            <button class=" btn btn-danger btn-lg"
                                                  v-on:click="removeToCart(item)">Удалить из корзины
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group text-center" v-if="user != null">
                <button class="btn btn-primary" v-on:click="pay()">Заказать</button>
            </div>
            <div class="form-group text-center" v-else>
                Для заказа авторизируйтесь
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        data: function () {
            return {
                cart: [],
                user: null,
            }
        },
        mounted() {
            var app = this;
            app.cart = store.cart;
            app.user = store.user;
        },
        methods: {
            removeToCart(item) {
                let id = item.id;
                $('#table').find('#'+id).remove();
                let result = jQuery.grep(store.cart, function(value) {
                    return value != item;
                });

                store.cart = result;
                toastrConfig.info('Продукт удален');
            },
            pay() {
                let product = '';
                $.each(store.cart, function (index, value){
                    product += value.id + '|';
                });
                const config = {'content-type': 'multipart/form-data'}
                const formData = new FormData()
                formData.append('product', product)
                formData.append('user', store.user)

                axios.post('/pay', formData, config)
                    .then(response =>  payTrue(response))
                    .catch(errors => payFalse(errors))
            }
        },
    }

    function payTrue() {
        store.cart = [];
        $('#table').remove();
        toastrConfig.success('Товар оплачен');
    }
    function payFalse() {
        toastrConfig.error('Ошибка');
    }

</script>