<template>
    <div class="row">
        <h2>История покупок</h2>
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Стоимость</th>
                </tr>
                </thead>
                <tbody id="table">
                <tr v-for="item, index in list">
                    <td>{{item.title}}</td>
                    <td>{{item.cost}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>

    export default {
        data: function () {
            return {
                list: [],
            }
        },
        mounted() {
            var app = this;
            console.log(store.user)
            axios.get('/list/' + store.user)
                .then(function (resp) {
                    app.list = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Ошибка");
                });
        },
        methods: {

        },
    }

</script>