<template>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <img :src="post.img" style="width: 212px; height: 247px;">
                </div>
                <div class="col-md-6 col-md-offset-2 description">
                    <h1 v-text="post.title"></h1>
                    <p v-html="post.subscription"></p>
                    <p class="price">
                        {{post.cost | formatPrice}}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <button class=" btn btn-primary btn-lg"
                        v-on:click="addToCart(post)">Добавить в корзину
                </button>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        data: function () {
            return {
                post: null
            }
        },
        mounted() {
            var app = this;
            let name = app.$route.params.name;
            axios.get('/product/' + name)
                .then(function (resp) {
                    app.post = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Ошибка");
                });
        },
        methods: {
            addToCart(item) {
                store.cart.push(item);
                store.cartCount++;
                toastrConfig.success('Продукт добавлен');
            }
        },
    }
</script>