<template>
    <div class="row">
        <div class="col-md-3" v-for="item, index in posts">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img :src="item.img" style="width: 212px; height: 247px;">
                    </div>
                    <h3 class="profile-username text-center">{{item.title}}</h3>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            Цена - {{item.cost}} р.
                        </li>
                        <li class="list-group-item">
                            <router-link :to="'/product/' + item.name">Подробние</router-link>
                        </li>
                        <li class="list-group-item">
                            <button class=" btn btn-primary btn-lg"
                                    v-on:click="addToCart(item)">Добавить в корзину
                            </button>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        data: function () {
            return {
                posts: []
            }
        },
        mounted() {
            var app = this;
            let name = app.$route.params.name;
            axios.get('/catalog/' + name)
                .then(function (resp) {
                    app.posts = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Ошибка");
                });
        },
        methods: {
            addToCart(item) {
                store.cart.push(item);
                store.cartCount++;
                toastrConfig.success('Продукт добавлен');
            }
        },
    }
</script>