<template>
    <div class="row">
        <div class="col-md-3" v-for="item, index in menues">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img :src="item.icon">
                    </div>
                    <h3 class="profile-username text-center">{{item.display_name}}</h3>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item" v-for="service, value in item.service_menus">
                            <router-link :to="'catalog' + service.name" >{{service.display_name}}</router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                menues: []
            }
        },
        mounted() {
            var app = this;
            axios.get('/menu')
                .then(function (resp) {
                    app.menues = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Ошибка");
                });
        },
    }
</script>