<template>
    <ul class="navbar-nav">
        <li class="nav-item dropdown" v-for="item, index in menues">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                {{item.display_name}}
            </a>
            <div class="dropdown-menu">
                <div v-for="service, value in item.service_menus">
                    <router-link class="dropdown-item" :to="'catalog' + service.name">{{service.display_name}}</router-link>
                </div>
                <!--<a class="dropdown-item" v-for="service, value in item.service_menus" href="#">{{service.display_name}}</a>-->
            </div>
        </li>
    </ul>
</template>
<script>
    export default {
        data: function () {
            return {
                menues: []
            }
        },
        mounted() {
            var app = this;
            axios.get('/menu')
                .then(function (resp) {
                    app.menues = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Ошибка");
                });
        },
    }
</script>