<template>
    <section class="content">
        <div class="container-fluid">
            <form @submit.prevent="submit">
                <div class="form-group row">
                    <label for="email" class="col-md-4 col-form-label text-md-right">Почта</label>

                    <div class="col-md-6">
                        <input id="email" type="email" class="form-control" name="email" v-model="email">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">Пароль</label>

                    <div class="col-md-6">
                        <input id="password" type="password" class="form-control" name="password" v-model="password">
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Вход</button>
                </div>
            </form>
        </div>
    </section>
</template>
<script>

    export default {
        data() {
            return {
                email: null,
                password: null
            }
        },
        methods: {
            submit() {
                const config = {'content-type': 'multipart/form-data'}
                const formData = new FormData()
                formData.append('email', this.email)
                formData.append('password', this.password)

                axios.post('/login', formData, config)
                    .then(response =>  statusTrue(response), this.$router.push({ name: "index"}))
                    .catch(errors => statusFalse(errors))
            },

        }
    }


    function statusTrue(response) {
        $('.name').empty().append(response.data.data.name);
        $('.logout').removeClass('d-none');
        $('.auth').addClass('d-none');
        store.user = response.data.data.id;
        return true
    }

    function statusFalse(errors) {
        toastrConfig.error('Данного пользователя не существует');
    }

</script>