<template>
    <section class="content">
        <div class="container-fluid">
            <form @submit.prevent="submit">
                <div class="form-group row">
                    <label for="email" class="col-md-4 col-form-label text-md-right">Имя</label>

                    <div class="col-md-6">
                        <input id="name" type="text" class="form-control" name="name" v-model="name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-md-4 col-form-label text-md-right">Почта</label>

                    <div class="col-md-6">
                        <input id="email" type="email" class="form-control" name="email" v-model="email">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">Пароль</label>

                    <div class="col-md-6">
                        <input id="password" type="password" class="form-control" name="password" v-model="password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="c_password" class="col-md-4 col-form-label text-md-right">Пароль повторно</label>

                    <div class="col-md-6">
                        <input id="c_password" type="password" class="form-control" name="c_password" v-model="c_password">
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Регистрация</button>
                </div>
            </form>
        </div>
    </section>
</template>
<script>

    export default {
        data() {
            return {
                name: null,
                email: null,
                password: null,
                c_password: null,
            }
        },
        methods: {
            submit() {
                const config = {'content-type': 'multipart/form-data'}
                const formData = new FormData()
                formData.append('email', this.email)
                formData.append('password', this.password)
                formData.append('name', this.name)
                formData.append('c_password', this.c_password)

                axios.post('/register', formData, config)
                    .then(response =>  statusTrue(response), this.$router.push({ name: "index"}))
                    .catch(errors => statusFalse(errors))
            }
        }
    }
    function statusTrue(response) {
        $('.name').empty().append(response.data.data.name);
        $('.logout').removeClass('d-none');
        $('.auth').addClass('d-none');
        store.user = response.data.data.id;
        return true
    }

    function statusFalse(errors) {
        toastrConfig.error('Ошибка валидации');
    }
</script>